# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compijhfyjhcjhfamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
kugkgilih
lihlihlih
lknlihliblihblibliblkib
jbkugbkubvkb
kjbkb
